
/* Sections */
.fable-one, .fable-two, .fable-three, .fable-four {
  margin: 7.5rem;
}

h1 {
margin: 7.5rem;
}

.fable-one {
  border: 0.375rem solid black;
  padding-left: 5.25rem;
  padding-right: 5.25rem;
  padding-bottom: 3.125rem;
  background-color: #ffc600;
}

.fable-two {
  border: 0.063rem solid white;
  padding: 3.125rem;
  background: linear-gradient(#e66465,#ed7b48);
}

.fable-three {
  border: 0.938rem groove #b89371;
  padding: 3.125rem;
  background: linear-gradient(#0c0c0c, #323232);
}

.fable-four {
  border: 0.063rem solid white;
  padding: 3.125rem;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

/* Typography */

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.fable-one h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.75rem;
  color: #ff4101;
}

.fable-one p {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.fable-two h2 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.75rem;
  margin: 0;
}

.fable-two p {
  font-family: 'Oxanium', cursive;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0 0 0;
}

.fable-three h2 {
  font-family: 'Merienda', cursive;
  font-size: 1.75rem;
  color: #b89371;
}

.fable-three p {
  font-family: 'Barlow Condensed', sans-serif;
  color: aliceblue;
  font-size: 1rem;
  line-height: 1.5;
}

.fable-four h2 {
  font-family: 'Bangers', cursive;
  font-size: 1.75rem;
  color: black;
}

.fable-four p {
  font-family: 'Advent Pro', sans-serif;
  color: black;
  font-size: 1rem;
  line-height: 1.5;
}
